body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #FDFFFF;
}

input:disabled{
    background : #FDFFFF;
    color : #000000;
    
}

header{
    display: flex;
    width: 100%;
    height: 150px;
    border-bottom: 1px solid black;
}

#member_menu_space{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
}

#menu_img{
    width: 50px;
    height: 50px;
}

#member_menu_button{
    width: fit-content;
    height: fit-content;
    background-color: #00000000;
    border: 0;
    cursor: pointer;
}

#name_space{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100%;
    flex-grow: 0;
}

#name{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100%;
    margin: 0;
}

#year_space, #month_space{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100%;
}

#year, #month{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    width: 100px;
    height: 50px;
    text-align: center;
    font-family: 'Nanum-Gothic', sans-serif;
    margin: 0;
}

.date_button{
    width: fit-content;
    height: fit-content;
    background-color: #00000000;
    border: 0;
    padding: 0;
    cursor: pointer;
}

.date_button_img{
    width: 23px;
    height: 44px;
}

#logout_space{
    display: flex;
    flex-grow: 1;
    justify-content: end;
}

#logout_button{
    width: 200px;
    height: 100%;
    background-color: #00000000;
    font-size: 40px;
    font-family: 'Nanum-Gothic', sans-serif;
    border: 0;
    padding: 0;
    cursor: pointer;
}

#logout_button_p{
    margin: 0;
}

#name{
    font-size: 40px;
    font-family: 'Nanum-Gothic', sans-serif;
}

/* 회원 목록 메뉴란 */
nav{
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    left: -300px;
    transition: all 0.1s;
}

#nav_member_list{
    width: 300px;
    height: 100%;
    background-color: #FDFFFF;
    display: flex;
    flex-direction: column;
}

.member_link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    margin :0;
    font-size: 40px;
    font-family: 'Nanum-Gothic', sans-serif;
    cursor: pointer;
    margin-bottom: 20px;
}

#nav_member_menu_space{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 150px;
}

#nav_member_menu_button{
    width: 40px;
    height: 40px;
    background-color: #00000000;
    border: 0;
    cursor: pointer;
}

#nav_background{
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 300;
}

/* 일정 추가란 */

section{
    width: 100%;
    height: 150px;
    margin-bottom: 50px;
}

#new_schedule_input_form{
    height: 100%;
    border: 1px solid black;
    margin: 0;
}

#input_datetime_space{
    display: flex;
}

#input_datetime_and_add_button_space{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}

#input_date, #input_time{
    width: 400px;
    height: 75px;
    font-size: 40px;
    font-family: 'Nanum-Gothic', sans-serif;
    border: 1px solid black;
    padding :0 ;
}

#input_add_button_space{
    height: 75px;
    display: flex;
    justify-content: end;
    flex-grow: 1;
}

#add_button{
    width: 200px;
    height: 75px;
    background-color: #F82F62;
    font-size: 40px;
    font-family: 'Nanum-Gothic', sans-serif;
    cursor: pointer;
    padding :0;
    border: 1px solid black;
}

#input_content{
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-family: 'Nanum-Gothic', sans-serif;
    border : 1px solid black;
}

/* 일정 목록 */

.schedule{
    margin-bottom: 50px;
}

.schedule_form{
    width: 100%;
    height: fit-content;
    margin-bottom:0;
}

.schedule_day{
    display: flex;
    align-items: center;
    width: 100px;
    height: 50px;
    font-size: 30px;
    font-family: 'Nanum-Gothic', sans-serif;
    background-color: #F82F62;
    margin: 0;
}

.schedule_content_text{
    width: 100%;
    height: 50px;
    font-size: 30px;
    font-family: 'Nanum-Gothic', sans-serif;
    border: 1px solid black;
}

.schedule_time{
    width: calc(37.5% - 2px);
    min-width: 400px;
    height: 48px;
    font-size: 30px;
    font-family: 'Nanum-Gothic', sans-serif;
    margin: 0;
    border: 1px solid black;
}

.modify_date_input, .modify_time_input{
    width: 18.75%;
    max-width: 360px;
    height: 50px;
    font-size: 30px;
    font-family: 'Nanum-Gothic', sans-serif;
    border: 1px solid black;
    padding : 0;
    display: none;
}

.schedule_time_and_buttons{
    display: flex;
}

.modify_schedule_button, .delete_schedule_button{
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-family: 'Nanum-Gothic-bold', sans-serif;
    background-color: #F82F62;
    padding: 0;
    border : 1px solid black;
    cursor: pointer;
}

.confirm_modify_button, .modify_cancel_button{
    width: 100px;
    height: 50px;
    font-size: 20px;
    font-family: 'Nanum-Gothic-bold', sans-serif;
    background-color: #F82F62;
    padding: 0;
    border : 1px solid black;
    display: none;
    cursor: pointer;
}

@media screen and (min-width:1001px) {
    .modify_date_input, .modify_time_input {
        min-width: 200px;
    }
}

@media screen and (max-width: 1000px){

    header{
        min-width: 360px;
        height: 40px;
        justify-content: space-between;
    }

    #member_menu_space{
        width: 11.11%;
    }

    #menu_img{
        width: 20px;
        height: 20px;
    }

    #name{
        width: 60px;
        height: 100%;
        font-size : 15px;
    }

    #year, #month{
        width: 50px;
        height: 40px;
        font-size : 20px;
    }

    #year_space, #month_space{
        width: 100px;
        height: 100%;
    }

    .date_button_img{
        width: 19px;
        height: 23px;
    }

    #logout_space{
        flex-grow: 0;
    }

    #logout_button{
        width: 60px;
        font-size: 15px;
    }

    /* nav */
    .member_link{
        width: 100px;
        height: 40px;
        font-size: 20px;
        margin-bottom: 0;
    }

    #nav_member_menu_space{
        width: 40px;
        height: 40px;
    }

    #nav_member_list{
        width: 100px;
    }

    #nav_background{
        left: 100;
    }
    
    /* 일정 추가란 */
    section{
        height: 100px;
        margin-bottom : 30px;
    }

    #new_schedule_input_form{
        min-width: 360px;
    }

    #input_datetime_and_add_button_space{
        width: 100%;
        height: 50px;
        flex-grow: 0;
    }

    #input_date, #input_time{
        width: 50%;
        height: 50px;
        font-size: 15px;
    }

    #input_datetime_space{
        flex-grow: 1;
    }

    #input_add_button_space{
        height: 100%;
        flex-grow: 0;
    }

    #add_button{
        width: 60px;
        height: 50px;
        font-size: 12px;
    }

    #input_content_space{
        min-width: 360px;
    }

    #input_content{
        font-size: 15px;
    }

    /* 일정 목록 */
    .schedule{
        min-width: 360px;
        margin-bottom: 30px;
    }

    .schedule_day{
        width: 60px;
        height: 30px;
        font-size: 15px;
    }

    .schedule_content_text{
        height: 30px;
        font-size: 15px;
    }

    .schedule_time{
        min-width: 178px;
        height: 28px;
        font-size: 15px;
    }

    .modify_date_input, .modify_time_input{
        min-width: 90px;
        height: 30px;
        font-size: 10px;
    }

    .modify_schedule_button, .delete_schedule_button, .confirm_modify_button, .modify_cancel_button{
        height: 30px;
        width: 60px;
        font-size: 12px;
    }
}